body {
	margin: 0;
	padding: 0;
	font:62.5%/100% Tahoma, Arial, Helvetica, sans-serif;
}
a {
	color:#000;
}

a:visited {

	color:#666666;
}
#all {
	background:#000 url(../img/bg_html.jpg) no-repeat 50% 0%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -167px; 
	min-width:855px;
}
#tree {
	background:url(../img/bg_wrapper.png) no-repeat 0% 0%;
	width:1105px;
	height: 2566px;
}
#footer {
	background:#000 url(../img/bg_footer.jpg) no-repeat 50% 0%;
}
#header {
	width:817px;
	height:135px;
	margin:0 auto;
	text-align:left;
	padding-top:70px;
}
#content_border {
	width:855px;
	height: 1970px;
	position: absolute;
	left:180px;
	right: auto;
	border-top:20px solid #FFF;
	padding:18px 0;
	background:url(../img/bg_content.png) no-repeat;
	background-color: #fff;
}

#yi {
	width: 80px;
	height: 20px;
	margin-top: 60px;
	margin-left: 205px;
}
#yi ul li a {
	text-decoration: none;
}
#yi ul li {
	float:left;
	width:20px;
	height: 20px;
	background-color: #FFF;
	color: #FFF;
}
#yi ul li:hover a {
	float:left;
	width:20px;
	height: 20px;
	background-color: #2c2c2c;
	color:#FFF;
}
/*####################################
#  Typography                        #
#####################################*/

body {
	font:62.5%/100% Tahoma, Arial, Helvetica, sans-serif;
}
a {
	color:#000;
}

a:visited {

	color:#666666;
}
h2, #content_main h3 {
	font: 48px/120px "Times New Roman", Times, serif;
}
h2 a, #content_main h3 a {
	text-decoration:none;
}
small {
	font:16px Tahoma, Arial, Helvetica, sans-serif;
	color:#4b4b4b;
}
small a {
	text-decoration:none;
}
small strong a, small strong a:hover, small strong a:visited, small strong a:active {
	background-color:#f7c338;
	color:#4b4b4b;
}

/*####################################
#  Header                            #
#####################################*/
#logo h1 {
	width:221px;
	height:75px;
}
#logo h1 a {
	width:221px;
	height:75px;
	display:block;
	position:absolute;
	top:71px;
	left:180px;
	text-decoration: none;
	font-size: 16px;
	color: #FFF;
}
#logo h1 a:hover, #logo h1 a:visited, #logo h1 a:active {
	background-color:transparent !important;
}
/*####################################
#  content                           #
#####################################*/
#content {
	width:817px;
	margin:0 auto;
	text-align:left;
	background-color: #FFF;
}
#content_main {
	float:left;
	width:500px;
	padding:40px 30px;
}
#content_main h1 {
	font-size: 24px;
}
#content_main a {
	text-decoration: none;
}
#rensheng {
	width:490px;
	height:196px;
	background: url(../img/rensheng.jpg) no-repeat;
	border:1px solid #FFF;
	margin-top: 20px;
}
#ruoshui {
	width:490px;
	height:196px;
	background: url(../img/ruoshui.jpg) no-repeat;
	border:1px solid #FFF;
	margin-top: 20px;
}
#nanfang {
	width:490px;
	height:196px;
	background: url(../img/nanfang.jpg) no-repeat;
	border:1px solid #FFF;
	margin-top: 20px;
}
#meiguo {
	width:490px;
	height:196px;
	background: url(../img/meiguo.jpg) no-repeat;
	border:1px solid #FFF;
	margin-top: 20px;
}
#woman {
	width:490px;
	height:196px;
	background: url(../img/woman.jpg) no-repeat;
	border:1px solid #FFF;
	margin-top: 20px;
}


#comments {
	width: 490px;
	height:34px;
	background-color: #d7d7d7;
	margin-top: 20px;
	text-align: center;
}
#comments a {
	position: relative;
	float:left;
	margin-left: 4px;
	line-height: 34px;
}
.post {
	margin-top: 40px;
}
/*####################################
#  sidebar                           #
#####################################*/
#sidebar {
	float:right;
	width:257px;
	height: 1156px;
	border:1px solid #e9e9e9;
	background-color: #e9e9e9;
}
#searchform {
	background-color:#d7d7d7;
	width:183px;
	height:26px;
	padding:8px 0 0 8px;
}
#content_main #searchform {
	background-color:#d7d7d7;
	width:492px;
	height:26px;
	padding:8px 0 0 8px;
}
#searchform .stxt {
	background-color:#f4f4f4;
	border:1px solid #8a8a8a;
	width:134px;
	height:15px;
	color:#4e4e4e;
	font-size:16px;
}
#content_main #searchform .stxt {
	background-color:#f4f4f4;
	border:1px solid #8a8a8a;
	width:434px;
	height:15px;
	color:#4e4e4e;
	font-size:16px;
}
#searchform .sgo {
	background:#000 url(../img/b_go.gif) no-repeat 0% 0%;
	width:34px;
	height:18px;
	color:#f7c338;
	font:bold 16px Tahoma, Arial, Helvetica, sans-serif;
	border:0;
	cursor:pointer;
}
.w_search {
	width:193px;
	height:61px;
	border-bottom:1px solid #d8d8d8;
	padding-left:29px;
	margin-bottom:24px;
}
#sidebar strong {
	font:bold 16px/200% Tahoma, Arial, Helvetica, sans-serif;
	margin-left: 29px;
	margin-bottom: 24px;
}
#sidebar .textwidget {
	font:16px/130% Tahoma, Arial, Helvetica, sans-serif;
	padding:15px 0 38px 0;
	margin-left: 29px;
	margin-bottom: 24px;
}
#sidebar h3 {
	width:180px;
	height:22px;
	color:#fff;
	background:#000 url(../img/bg_wtitle.jpg) no-repeat 0% 0%;
	font:bold 16px/130% Tahoma, Arial, Helvetica, sans-serif;
	padding:5px 0 0 15px;
	margin-left: 29px;
	margin-bottom: 24px;
}
#sidebar li li a {
	display:block;
	background:url(../img/i_marker.gif) no-repeat 14px 13px;
	width:160px;
	padding:7px 3px 7px 32px;
	font:16px/130% Tahoma, Arial, Helvetica, sans-serif;
	margin-left: 31px;
}
#sidebar li li a:hover {
	background:#d7d7d7 url(../img/i_marker.gif) no-repeat 14px 13px;
	text-decoration:none;
	margin-left: 31px;
}
#sidebar ul ul {
	margin-bottom:37px;
}
#sidebar .pages span {
	width:88px;
	height:36px;
	background:url(../img/i_page.png) no-repeat 0% 0%;
	position:absolute;
	margin:-5px 0 0 96px;
}
#sidebar .categories span {
	width:61px;
	height:54px;
	background:url(../img/i_categories.png) no-repeat 0% 0%;
	position:absolute;
	margin:-24px 0 0 119px;
}
#sidebar .recent_entries span {
	width:66px;
	height:56px;
	background:url(../img/i_recent.png) no-repeat 0% 0%;
	position:absolute;
	margin:-24px 0 0 119px;
}
#sidebar .links span {
	width:73px;
	height:75px;
	background:url(../img/i_links.png) no-repeat 0% 0%;
	position:absolute;
	margin:-29px 0 0 109px;
}
/*####################################
#  Footer                            #
#####################################*/
#footer {
	width: 1351px;
	height: 167px;
	position: absolute;
	top:2400px;
	bottom: 0;
	left:0;
	right:auto;
	background-color: #000;
}
#footer_inner {
	width:855px;
	margin:0 auto;
	height:167px;
	text-align:left;
	color:#828282;
	font-size:16px;
}
#footer_inner span {
	color:#303030;
}
#footer_inner p {
	padding:40px 0 0 40px;
}
#footer_inner a {
	display:block;
	width:270px;
	height:100px;
	position:absolute;
	margin:21px 0 0 584px;
}
#footer_inner a, #footer_inner a:hover, #footer_inner a:visited, #footer_inner a:active {
	background-color:transparent !important;
}
#footer_inner a strong {
	display:none;
}